.main-content{
    padding-top: px2rem(20px);
    .list-title{
        text-align: center;
        font-style: px2rem(16px);
        margin-bottom: px2rem(5px);
        .title-line{
            height: px2rem(1px);
            display: inline-block;
            width: px2rem(30px);
            border-bottom: 1px solid #94949494;
            margin: 4px;
        }
    }
}