{
  "extends": ["eslint:recommended","plugin:react/recommended"],
  "parser": "babel-eslint",
  "globals": {
    "window": true,
    "document": true,
    "module": true,
    "require": true,
    "console": true,
    "debugger": true,
    "compose": true
  },
  "rules": {
    "react/prop-types": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}