.scroll-item-content{
    display: flex;
    padding: px2rem(15px) 0;
    margin: 0 px2rem(10px);
    color: #666;
    font-size: px2rem(12px);
    &:after{
        background-color: #e4e4e4
    }

    .item-img{
        width: px2rem(86px);
        height: px2rem(65px);
        border: 1px solid #e4e4e4;
        position: relative;
        img{
            width: 100%;
        }
        .brand{
            position: absolute;
            top: 1px;
            left: 1px;
            font-size: 12px;
            padding: 2px;
            color: #ffffff;
        }
        .brand-pin{
            background-color: #ffa627
        }
        .brand-xin{
            background-color: #21c56c
        }
    }
    .item-detail{
        flex: 1;
        margin-left: px2rem(7px);
        .item-title{
            margin-top: px2rem(3px);
            font-size: px2rem(16px);
            font-weight: 600;
            color: #333333;
        }
        .item-desc{
            margin-top: 13px;
            font-size: 12px;
            .item-score{
                float: left;
                display: flex;
                .star{
                    width: 14px;
                    height: 14px;
                    background-size: contain;
                    background-position: center center;
                }
                .full-star{
                    background-image: url('./img/fullstar.png')
                }
                .harf-star{
                    background-image: url('./img/halfstar.png')
                }
                .null-star{
                    background-image: url('./img/nullstar.png')
                }
            }
            .item-count{
                float: left;
                margin-left: 5px;
            }
            .item-distance{
                float: right;
                &:before{
                    content: "丨";                    
                }
            }
            .item-time{
                float: right;
                margin-left: 5px;
            }
        }
        .item-price{
            margin-top: px2rem(10px);
            .meituan-flag{
                float: right;
                font-size: px2rem(10px);
                padding: px2rem(3px);
                color: #000;
                border-radius: px2rem(3px);
                background-color:  #ffd161
            }
        }
        .item-others{
            margin-top: px2rem(5px);
            .other-info{
                margin-top: px2rem(5px);
                display: flex;
                .other-tag{
                    width: px2rem(14px);
                    height: px2rem(14px);
                }
            }
        }
    }

}