.detail-wrapper{
    .tab-bar{
        font-size: px2rem(16px);
        display: flex;
        border-bottom: 1px solid #f0f0f0;
        .tab-item{
            display: block;
            height: px2rem(45px);
            line-height: px2rem(45px);
            position: relative;
            text-align: center;
            color: #666;
            flex: 1;
            &.active{
                &:after {
                    content: '';
                    display: block;
                    height: px2rem(4px);
                    width: px2rem(60px);
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    background-color: #ffd161;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%)
                }
            }
        }
    }
}